<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.bluapp.kotlinview">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Navigation.NavigationActivity11"></activity>
        <activity android:name=".Navigation.NavigationActivity10" />
        <activity android:name=".Navigation.NavigationActivity9" />
        <activity android:name=".Navigation.NavActivity8" />
        <activity android:name=".Navigation.NavigationActivity8" />
        <activity
            android:name=".Navigation.NavigationActivity7"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Navigation.NavigationActivity6" />
        <activity
            android:name=".Navigation.NavigationActivity5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Navigation.NavigationActivity4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Navigation.NavigationActivity3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Navigation.NavigationActivity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Navigation.NavigationActivity1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewPager.ViewPagerActivity20" />
        <activity android:name=".ViewPager.ViewPagerActivity19" />
        <activity android:name=".ViewPager.ViewPagerActivity18" />
        <activity android:name=".ViewPager.ViewPagerActivity17" />
        <activity android:name=".ViewPager.ViewPagerActivity16" />
        <activity android:name=".ViewPager.ViewPagerActivity15" />
        <activity android:name=".ViewPager.ViewPagerActivity14" />
        <activity android:name=".ViewPager.ViewPagerActivity13" />
        <activity android:name=".ViewPager.ViewPagerActivity12" />
        <activity android:name=".ViewPager.ViewPagerActivity11" />
        <activity android:name=".ViewPager.ViewPagerActivity10" />
        <activity android:name=".ViewPager.ViewPagerActivity9" />
        <activity android:name=".ViewPager.ViewPagerActivity8" />
        <activity android:name=".ViewPager.ViewPagerActivity7" />
        <activity android:name=".ViewPager.ViewPagerActivity6" />
        <activity android:name=".ViewPager.ViewPagerActivity5" />
        <activity android:name=".ViewPager.ViewPagerActivity4" />
        <activity android:name=".ViewPager.ViewPagerActivity3" />
        <activity android:name=".ViewPager.ViewPagerActivity2" />
        <activity android:name=".ViewPager.ViewPagerActivity1" />
        <activity android:name=".Tab.TabActivity18" />
        <activity android:name=".Tab.TabHostActivity" />
        <activity android:name=".Tab.TabActivity17" />
        <activity android:name=".Tab.TabActivity16" />
        <activity android:name=".Tab.TabActivity15" />
        <activity android:name=".Tab.TabActivity14" />
        <activity android:name=".Tab.TabActivity13" />
        <activity android:name=".Tab.TabActivity12" />
        <activity android:name=".Tab.TabActivity11" />
        <activity android:name=".Tab.TabActivity10" />
        <activity android:name=".Tab.TabActivity9" />
        <activity android:name=".Tab.TabActivity8" />
        <activity android:name=".Tab.TabActivity7" />
        <activity android:name=".Tab.TabActivity6" />
        <activity android:name=".Tab.TabActivity5" />
        <activity android:name=".Tab.TabActivity4" />
        <activity android:name=".Tab.TabActivity3" />
        <activity android:name=".Tab.TabActivity2" />
        <activity android:name=".Tab.TabActivity1" />
        <activity android:name=".recyclerView.RecyclerViewActivity20" />
        <activity android:name=".recyclerView.RecyclerViewActivity19" />
        <activity android:name=".recyclerView.RecyclerViewActivity18" />
        <activity android:name=".recyclerView.RecyclerViewActivity17" />
        <activity android:name=".recyclerView.RecyclerViewActivity16" />
        <activity android:name=".recyclerView.RecyclerViewActivity15" />
        <activity android:name=".recyclerView.RecyclerViewActivity14" />
        <activity android:name=".recyclerView.RecyclerViewActivity13" />
        <activity android:name=".recyclerView.RecyclerViewActivity12" />
        <activity android:name=".recyclerView.RecyclerViewActivity11" />
        <activity android:name=".recyclerView.RecyclerViewActivity10" />
        <activity android:name=".recyclerView.RecyclerViewActivity9" />
        <activity android:name=".recyclerView.RecyclerViewActivity8" />
        <activity android:name=".recyclerView.RecyclerViewActivity7" />
        <activity android:name=".recyclerView.RecyclerViewActivity6" />
        <activity android:name=".recyclerView.RecyclerViewActivity5" />
        <activity android:name=".recyclerView.RecyclerViewActivity4" />
        <activity android:name=".recyclerView.RecyclerViewActivity3" />
        <activity android:name=".recyclerView.RecyclerViewActivity2" />
        <activity android:name=".recyclerView.RecyclerViewActivity1" />
        <activity android:name=".spinner.SpinnerActivity19" />
        <activity android:name=".spinner.SpinnerActivity20" />
        <activity android:name=".spinner.SpinnerActivity18" />
        <activity android:name=".spinner.SpinnerActivity17" />
        <activity android:name=".spinner.SpinnerActivity16" />
        <activity android:name=".spinner.SpinnerActivity15" />
        <activity android:name=".spinner.SpinnerActivity14" />
        <activity android:name=".spinner.SpinnerActivity13" />
        <activity android:name=".spinner.SpinnerActivity12" />
        <activity android:name=".spinner.SpinnerActivity11" />
        <activity android:name=".spinner.SpinnerActivity10" />
        <activity android:name=".spinner.SpinnerActivity9" />
        <activity android:name=".spinner.SpinnerActivity8" />
        <activity android:name=".spinner.SpinnerActivity7" />
        <activity android:name=".spinner.SpinnerActivity6" />
        <activity android:name=".spinner.SpinnerActivity5" />
        <activity android:name=".spinner.SpinnerActivity4" />
        <activity android:name=".spinner.SpinnerActivity3" />
        <activity android:name=".spinner.SpinnerActivity2" />
        <activity android:name=".spinner.SpinnerActivity1" />
        <activity android:name=".CheckBox.CheckBoxActivity20" />
        <activity android:name=".CheckBox.CheckBoxActivity19" />
        <activity android:name=".CheckBox.CheckBoxActivity18" />
        <activity android:name=".CheckBox.CheckBoxActivity17" />
        <activity android:name=".CheckBox.CheckBoxActivity16" />
        <activity android:name=".CheckBox.CheckBoxActivity15" />
        <activity android:name=".CheckBox.CheckBoxActivity14" />
        <activity android:name=".CheckBox.CheckBoxActivity13" />
        <activity android:name=".CheckBox.CheckBoxActivity12" />
        <activity android:name=".CheckBox.CheckBoxActivity11" />
        <activity android:name=".CheckBox.CheckBoxActivity10" />
        <activity android:name=".CheckBox.CheckBoxActivity9" />
        <activity android:name=".CheckBox.CheckBoxActivity8" />
        <activity android:name=".CheckBox.CheckBoxActivity7" />
        <activity android:name=".CheckBox.CheckBoxActivity6" />
        <activity android:name=".CheckBox.CheckBoxActivity5" />
        <activity android:name=".CheckBox.CheckBoxActivity4" />
        <activity android:name=".CheckBox.CheckBoxActivity3" />
        <activity android:name=".CheckBox.CheckBoxActivity2" />
        <activity android:name=".CheckBox.CheckBoxActivity1" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity20" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity19" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity18" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity17" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity16" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity15" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity14" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity13" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity12" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity11" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity10" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity9" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity8" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity7" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity6" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity5" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity4" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity3" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity2" />
        <activity android:name=".TextViewAndRadioButton.TextViewAndRadioButtonActivity1" />
        <activity android:name=".EditText.EditTextActivity20" />
        <activity android:name=".EditText.EditTextActivity19" />
        <activity android:name=".EditText.EditTextActivity18" />
        <activity android:name=".EditText.EditTextActivity17" />
        <activity android:name=".EditText.EditTextActivity16" />
        <activity android:name=".EditText.EditTextActivity15" />
        <activity android:name=".EditText.EditTextActivity14" />
        <activity android:name=".EditText.EditTextActivity13" />
        <activity android:name=".EditText.EditTextActivity12" />
        <activity android:name=".EditText.EditTextActivity11" />
        <activity android:name=".EditText.EditTextActivity10" />
        <activity android:name=".EditText.EditTextActivity9" />
        <activity android:name=".EditText.EditTextActivity8" />
        <activity android:name=".EditText.EditTextActivity7" />
        <activity android:name=".EditText.EditTextActivity6" />
        <activity android:name=".EditText.EditTextActivity5" />
        <activity android:name=".EditText.EditTextActivity4" />
        <activity android:name=".EditText.EditTextActivity3" />
        <activity android:name=".EditText.EditTextActivity2" />
        <activity android:name=".EditText.EditTextActivity1" />
        <activity android:name=".imageView.ImageViewActivity20" />
        <activity android:name=".imageView.ImageViewActivity19" />
        <activity android:name=".imageView.ImageViewActivity18" />
        <activity android:name=".imageView.ImageViewActivity17" />
        <activity android:name=".imageView.ImageViewActivity16" />
        <activity android:name=".imageView.ImageViewActivity15" />
        <activity android:name=".imageView.ImageViewActivity14" />
        <activity android:name=".imageView.ImageViewActivity13" />
        <activity android:name=".imageView.ImageViewActivity12" />
        <activity android:name=".imageView.ImageViewActivity11" />
        <activity android:name=".imageView.ImageViewActivity10" />
        <activity android:name=".imageView.ImageViewActivity9" />
        <activity android:name=".imageView.ImageViewActivity8" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".imageView.ImageViewActivity7" />
        <activity android:name=".imageView.ImageViewActivity6" />
        <activity android:name=".imageView.ImageViewActivity5" />
        <activity android:name=".imageView.ImageViewActivity4" />
        <activity android:name=".imageView.ImageViewActivity3" />
        <activity android:name=".imageView.ImageViewActivity2" />
        <activity android:name=".imageView.ImageViewActivity1" />
        <activity android:name=".Button.ButtonActivity21" />
        <activity android:name=".Button.ButtonActivity20" />
        <activity android:name=".Button.ButtonActivity19" />
        <activity android:name=".Button.ButtonActivity18" />
        <activity android:name=".Button.ButtonActivity17" />
        <activity android:name=".Button.ButtonActivity16" />
        <activity android:name=".Button.ButtonActivity15" />
        <activity android:name=".Button.ButtonActivity14" />
        <activity android:name=".Button.ButtonActivity13" />
        <activity android:name=".Button.ButtonActivity12" />
        <activity android:name=".Button.ButtonActivity11" />
        <activity android:name=".Button.ButtonActivity10" />
        <activity android:name=".Button.ButtonActivity9" />
        <activity android:name=".Button.ButtonActivity8" />
        <activity android:name=".Button.ButtonActivity7" />
        <activity android:name=".Button.ButtonActivity6" />
        <activity android:name=".Button.ButtonActivity5" />
        <activity android:name=".Button.ButtonActivity4" />
        <activity android:name=".Button.ButtonActivity3" />
        <activity android:name=".Button.ButtonActivity2" />
        <activity android:name=".Button.ButtonActivity1" />
        <activity android:name=".ViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>